*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

article{
   display: grid;
   grid-template-columns: 1fr;
   background-color: #55bfb8;;
   color: white;
   padding: 5rem;
   width: 50vw;
   height: fit-content;
   margin: auto;
   font-size: 1.3rem;
   font-family: sans-serif;
   text-align: justify;
}

article h1{
   text-align: center;
   padding: 3rem;
}

article h3{
   padding: 2rem 0 0 0;
}

article button{
   padding: 15px;
   /* background-color: transparent; */
   /* border-color: white */
   border: none;
   outline: none;
   color: white;
   background: #55bfb8;
}

article button:hover{
   text-decoration: underline;
   cursor: pointer;
}

@media screen and (max-width:1024px){
      article{
         padding: 1.5rem;
      }
      article h1{
         padding: 1.6rem;
      }
   }

@media screen and (max-width:600px){
   article{
      padding: .8rem;
      text-align: left;
      font-size: 14px;
      width: 90vw;
   }
   h3{
      text-align: left;
      font-size: 1rem;
      padding-left: 5px;
   }
   h1{
      font-size: 1.1rem;
   }
}